.NewExerciseForm {
  background: var(--pure-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px var(--border-color);
  border-radius: 4px;
  width: 600px;
  max-width: 100vw;
  padding: 20px 30px;
  margin-bottom: 40px;
  margin-top: 50px;
}
.NewExerciseForm .card {
  background: var(--pure-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.NewExerciseForm .error {
  color: var(--bright-red);
  margin: 10px 0;
}
.NewExerciseForm .card .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 10px;
}
.NewExerciseForm .card .form .input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 8px 0;
}
.NewExerciseForm .card .form .input-field label {
  margin-bottom: 5px;
}
.NewExerciseForm .card .form .input-field input {
  height: 60px;
  padding: 0 15px;
  font-size: 16px;
  border: solid 1px var(--border-color);
  width: 100%;
}
.NewExerciseForm .card .form .btn {
  width: 100%;
  height: 70px;
  color: black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cfecff;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.NewExerciseForm .card .form .radio {
  display: flex;
  flex-direction: row;
  padding: 1%;
}
